html, body {
    background: #1d2026;
    margin-left: 5%;
    margin-right: 5%;
    color: rgba(218,216,216,0.9);
}
.title {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.logo {
    max-width:100%;
    max-height:100%;
    overflow: visible;
    cursor: pointer;
}
.navbar {
    background-color: rgba(0,97,72,0.89);
}
.foot {
    min-height: auto;
    margin: 0;
    padding: 0.5rem;
    padding-bottom: 0;
    background: rgba(0,97,72,0.89);
    border: 0.2rem solid black;
    text-align: center;
    color: rgba(221,241,255,0.9);
}
.foot p{
    padding: 0.5rem;
}
.photo {
    max-width: 100%;
    height: auto;
}
.post:first-child {
    margin-top: 5%;
}
.post {
    border: 0.2rem solid grey;
    background: rgba(0,97,72,0.89);
    margin-bottom: 2%;
    color:rgba(255,251,107,0.9);
    padding-left: 0.5rem;
}
.post a {
    color:rgba(255,251,107,0.9);
}
.tags {
    border-top: 0.1rem solid black;
    border-bottom: 0.1rem solid black;
    color:rgba(255,90,20,0.9);
}
.text {
    color:white;
}
{box-sizing:border-box}
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.sliders {
    text-align: center;
    display: none;
}

.sliders img{
    width: 42rem;
    height: 24rem;
    object-fit: fill;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 50%;
    user-select: none;
}

.next {
    right: 0
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 0.3rem 1rem;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 1rem;
    width: 1rem;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 10rem;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
    background-color: rgba(0,0,0,0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 1080px;
}

.modal-content{
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}


.close {
    position: absolute;
    top: 3rem;
    right: 7rem;
    color: #f1f1f1;
    font-size: 30px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
